body {

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  background: #2f3b2f;

  font-family: Arial, sans-serif;
}

/* TOP BAR */
#topBar {

  margin-top: 20px;
  margin-bottom: 15px;

  display: flex;
  gap: 10px;
  align-items: center;
}

/* LABEL */
label {

  color: white;

  font-size: 18px;
}

/* SELECT + BUTTON */
select,
button {

  padding: 10px 15px;

  border: none;
  border-radius: 12px;

  font-size: 16px;
}

/* SELECT */
select {

  background: white;
}

/* BUTTON */
button {

  background: #A8C686;

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

button:hover {

  opacity: 0.9;

  transform: scale(1.03);
}

/* CANVAS */
canvas {

  border: 4px solid #A8C686;

  border-radius: 20px;

  box-shadow:
    0 0 25px rgba(0,0,0,0.5);

  background: black;
}